extends ../../layouts/default.pug

block main
  if(role.permissions.includes("products_edit"))
    h2 Edit Product UI
    form(action=`${prefixAdmin}/products/edit/${product.id}?_method=patch` method="post" enctype="multipart/form-data")
      .mb-3.mt-3
        label(for='title') Title:
        input#title.form-control(type='text' value=product.title placeholder='Enter title' name='title')  
      .mb-3
        label(for='description') Description:
        textarea#description.form-control(type='text' placeholder='Enter description' name='description') !{product.description}

      .mb-3
        label(for='price') Price:
        input#price.form-control(type='number' value=product.price placeholder='Enter price' name='price')

      .mb-3
        label(for='discountPercentage') Discount Percentage:
        input#discountPercentage.form-control(type='number' value=product.discountPercentage placeholder='Enter discountPercentage' name='discountPercentage')
      .mb-3(upload-image)
        label(for='thumbnail') Thumbnail:
        br
        input#thumbnail(type='file' upload-image-input placeholder='Enter thumbnail' name='thumbnail')
        img(class="image-preview" src=product.thumbnail upload-image-img)
      .mb-3
        label(for='stock') Stock:
        input#thumbnail.form-control(type='number' value=product.stock placeholder='Enter Stock' name='stock')
      .mb-3
        label(for='stock') Position:
        input#thumbnail.form-control(type='number' value=product.position placeholder='Enter Stock' name='position')
      .mb-3
        .form-check
          input#radio1.form-check-input(type='radio' name='status' value='active' checked=(product.status == 'active' ? true : false))
          | Active
          label.form-check-label(for='radio1')
        .form-check
          input#radio2.form-check-input(type='radio' name='status' value='inactive' checked=(product.status == 'inactive' ? true : false))
          | Inactive
          label.form-check-label(for='radio2')


      button.btn.btn-primary(type='submit') Edit
